:host {
  display: flex;
  width: 1200px;
}

.left-section, .right-section {
  flex: 1;
}

label {
  display: inline-block;
  min-width: 200px;
  font-size: 24px;
}

input {
  font-size: 24px;
  outline: none;
}

.field {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  font-size: 20px;
  border: none;
}

.car-list {
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  width: 100%;
  border: 1;
  padding: 20px 0;
}

td, th {
  font-size: 24px;
  width: 50%;
  text-align: left;
}

th {
  padding-bottom: 20px;
}

.create-button {
  margin-top: 70px;
  width: 300px;
}

.state-section {
  padding-left: 40px;
  margin-bottom: 20px;
}

.state-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.state-container {
  display: flex;
  margin-top: 5px;
}

.state-label {
  flex: 1;
  max-width: 150px;
  font-size: 22px;
}

.state-value {
  flex: 1;
  font-size: 22px;
}