<form class="left-section" [formGroup]="userForm">
  <div class="field">
    <label for="firstName">First name</label>
    <input type=text name="firstName" formControlName="firstName" />
  </div>

  <div class="field">
    <label for="lastName">Last name</label>
    <input type=text name="lastName" formControlName="lastName" />
  </div>

  <div *ngIf="usersCars.length" class="car-list">
    <table>
      <tr>
        <th>#</th>
        <th>Car name</th>
        <th>Color</th>
      </tr>

      <tr *ngFor="let carForm of userForm.controls.cars.controls; let i = index" [formGroup]="carForm">
        <td>Car {{i}}</td>

        <td>
          <input type=text name="name" formControlName="name" />
        </td>

        <td>
          <input type=text name="color" formControlName="color" />
        </td>
      </tr>
    </table>
  </div>

  <button type="button" (click)="onAddNewCarClick()">Add new car</button>

  <button type="button" (click)="onSaveUserClick()" class="create-button">
    {{isUserSaved ? 'Update' : 'Create'}}
  </button>
</form>



<div class="right-section">
  <div class="state-section">
    <div class="state-name">Form:</div>

    <div class="state-container">
      <div class="state-label">isChanged:</div>
      <div class="state-value">{{userForm.isChanged}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">dirty:</div>
      <div class="state-value">{{userForm.dirty}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">valid:</div>
      <div class="state-value">{{userForm.valid}}</div>
    </div>
  </div>

  <div class="state-section">
    <div class="state-name">First name:</div>

    <div class="state-container">
      <div class="state-label">isChanged:</div>
      <div class="state-value">{{userForm.controls.firstName.isChanged}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">dirty:</div>
      <div class="state-value">{{userForm.controls.firstName.dirty}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">valid:</div>
      <div class="state-value">{{userForm.controls.firstName.valid}}</div>
    </div>
  </div>

  <div *ngFor="let carForm of userForm.controls.cars.controls; let i = index" [formGroup]="carForm">
    <div class="state-section">
      <div class="state-name">Car {{i}}:</div>

      <div class="state-container">
        <div class="state-label">isChanged:</div>
        <div class="state-value">{{carForm.isChanged}}</div>
      </div>

      <div class="state-container">
        <div class="state-label">dirty:</div>
        <div class="state-value">{{carForm.dirty}}</div>
      </div>

      <div class="state-container">
        <div class="state-label">valid:</div>
        <div class="state-value">{{carForm.valid}}</div>
      </div>
    </div>
  </div>
</div>