<form class="left-section" [formGroup]="userForm">
  <div class="field">
    <label for="firstName">First name</label>
    <input type=text name=firstName formControlName="firstName" />
  </div>

  <div class="field">
    <label for="lastName">Last name</label>
    <input type=text name=lastName formControlName="lastName" />
  </div>

  <div *ngIf="usersCars.length" class="car-list">
    <table>
      <tr>
        <th>Car name</th>
        <th>Color</th>
      </tr>

      <tr *ngFor="let car of usersCars">
        <td>{{car.name}}</td>
        <td>{{car.color}}</td>
      </tr>
    </table>
  </div>

  <div class="car-form" [formGroup]="unsavedCarForm">
    <div class="field">
      <label for="name">Car name</label>
      <input type=text name=name formControlName="name" />
    </div>

    <div class="field">
      <label for="color">Color</label>
      <input type=text name=color formControlName="color" />
    </div>

    <button type="button" (click)="onAddNewCarClick()">Add new car</button>
  </div>

  <button type="button" (click)="onSaveUserClick()" class="create-button">
    {{isUserSaved ? 'Update' : 'Create'}}
  </button>
</form>



<div class="right-section">
  <div class="state-section">
    <div class="state-name">Form:</div>

    <div class="state-container">
      <div class="state-label">isChanged:</div>
      <div class="state-value">{{userForm.isChanged}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">dirty:</div>
      <div class="state-value">{{userForm.dirty}}</div>
    </div>

    <div class="state-container">
      <div class="state-label">valid:</div>
      <div class="state-value">{{userForm.valid}}</div>
    </div>
  </div>
</div>