table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px 0;
}

td, th {
  font-size: 24px;
  width: 50%;
  text-align: left;
  border-bottom: 1px solid black;
}

th {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

td {
  padding: 10px 0;
}

tr {
  cursor: pointer;
}

tr:first {
  cursor: auto;
}

tr:hover {
  background: rgba(0, 0, 0, 0.2);
}

.no-users {
  font-size: 25px;
}